{%include "head.twig" %}

<h1>{{ meta.title }}</h1>
			
        	<div class="grid_7">
        	
        		<p class="exec-summary">I'm always delighted to hear from new people. Maybe you've got any comments about my <a href="/journal/" title="Journal">articles</a>, you think I can help you and your business in any way or you just want to get in touch you can do so using any of the means to the right.</p>

        		<p>I look forward to hearing from you.</p>
        		
        		
        		<h3>Amazon Wish List</h3>
        		<p>Below is my Amazon wish list. Any time I find a book that I want to read I add it to this list so I can purchase it in the future.</p>
        		
        		<script charset="utf-8" type="text/javascript" src="http://ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=GB&ID=V20070822%2FGB%2Fcrstaniercouk-21%2F8004%2Fa45461b0-fc4c-4326-8d14-9e2c2bbcd91c"> </script> <NOscript><A HREF="http://ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=GB&ID=V20070822%2FGB%2Fcrstaniercouk-21%2F8004%2Fa45461b0-fc4c-4326-8d14-9e2c2bbcd91c&Operation=Noscript">Amazon.co.uk Widgets</A></NOscript>
        		
        	</div>

        	<div class="grid_4 sidebar">
   				<h3>Direct</h3>
        		<span class="contact email">hello [ at ] crstanier.co.uk</span>

        		<h3>Social</h3>
        		<ul class="contact-soc">
			   		<li><a href="http://twitter.com/crstanier"><span class="soc-twitter" ></span>@crstanier</a></li>
			    	<li><a href="http://plus.google.com/113234417825069147791?rel=author"><span class="soc-google" ></span>Curtis Stanier</a></li>
			    	<li><a href="http://uk.linkedin.com/in/cstanier"><span class="soc-linkedin" ></span>Curtis Stanier</a></li>
			    	<li><a href="https://www.youtube.com/user/crstanier"><span class="soc-youtube"></span>Curtis Stanier</a></li>
				</ul>

        	</div>


{%include "foot.twig" %}