{%include "head.twig" %}
<div class="row">
<div class="col-md-12">
	<h1>{{ meta.title }}</h1>
</div>
</div>
<div class="row">

        	<div class="col-md-7">
        	
        		<p class="exec-summary">I'm always delighted to hear from new people. Maybe you've got any comments about my <a href="/journal/" title="Journal">articles</a>, you think I can help you and your business in any way or you just want to get in touch you can do so using any of the means to the right.</p>

        		<p>I look forward to hearing from you.</p>
        		
        		

        		
        	</div>

        	<div class="col-md-4 col-md-offset-1">
   				<h3>Direct</h3>
        		<span class="contact email">hello [ at ] crstanier.co.uk</span>

        		<h3>Social</h3>
        		<ul class="list-unstyled">
			   		<li><a href="http://twitter.com/crstanier"><i class="fa fa-twitter"></i> @crstanier</a></li>
			    	<li><a href="https://github.com/crstanier"><i class="fa fa-github"></i> Curtis Stanier</a></li>
			    	<li><a href="http://uk.linkedin.com/in/cstanier"><i class="fa fa-linkedin"></i> Curtis Stanier</a></li>
			    	<li><a href="https://www.youtube.com/user/crstanier"><i class="fa fa-youtube"></i> Curtis Stanier</a></li>
				</ul>

        	</div>
</div>

{%include "foot.twig" %}