{%include "head.twig" %}

			<div id="hero">
        	
        		<p>Hey - I'm <em>Curtis Stanier</em></p>
        		<p>I'm a recent graduate with a passion for business, technology and management.</p>
        		<p class="sub">I like to write about new tech, business news, my experiences and interesting ideas.</p>
        		
        		
                                
                                <a href="/journal" title="Journal - Curtis Stanier" class="cta"><span class="fa fa-book"></span>Read my Posts</a>

                       
                                
                                <a href="/about" title="About - Curtis Stanier" class="cta"><span class="fa fa-user"></span>More About Me</a>

                        
        	
        	</div>

                <div class="grid_12 foot">

                &copy; 2014 Curtis Stanier. All Rights Reserved.

                {%include "social.html" %}

                </div>

{%include "foot.twig" %}