{%include "head.twig" %}

<div class="jumbotron">
    <h1>Hi - I'm <em>Curtis Stanier</em></h1>
    <p>I'm an expat living in Berlin with a passion for business, technology and management.</p>
    <p>I like to write about new tech, business news, my experiences and interesting ideas.</p>
    <div class="btn-toolbar">
        <a class="btn btn-primary btn-lg" href="/journal" title="Journal - Curtis Stanier"><i class="fa fa-book" aria-hidden="true"></i> Read my Posts</a>
        <a class="btn btn-primary btn-lg" href="/about" title="About - Curtis Stanier"><i class="fa fa-user" aria-hidden="true"></i></span> More About Me</a>
    </div>
</div>

{%include "foot.twig" %}